@media (min-width: 993px) {
    .container{
        width: 90%;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #2196F3 ;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #2196F3;
    color: #FFF;
}

.card.account-card {
    border: 2px solid #2196F3;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #61C5C7;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #2196F3;
}

.wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.btn {
    color: #FFF;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
}